.app-header {
  height: 6vh;
  padding: 2rem;
  position: relative;
  opacity: 0.9;
  background: linear-gradient($clr1, $clr3);
  & > * {
    color: $clr5;
  }

  &.dark {
    background: linear-gradient($clr4, $clr6);
    & > * {
      color: $clr2;
    }
  }
  .logo {
    cursor: pointer;
  }

  .main-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    li {
      cursor: pointer;
    }
    li:not(:first-of-type) {
      margin-inline-start: 16px;
    }
    a {
      text-transform: uppercase;
    }

    .active-nav {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .toggle-theme {
    cursor: pointer;
  }

  .toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 0.5s;
  }

  .toggle-menu-btn {
    display: none;
  }

  @include for-narrow-layout {
    opacity: 1;
    .logo {
      flex-grow: 1;
    }
    .main-nav {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 300;
      background: $clr1;
      height: 100vh;
      transition: transform 1s;
      transform: translate(100%, 0);
      overflow: hidden;

      &.open {
        transform: translate(0, 0);
      }

      .main-menu {
        flex-direction: column;
        align-items: center;
      }

      li:not(:first-of-type) {
        margin-inline-start: 0;
      }

      .main-menu a {
        color: $clr4;
        display: inline-block;
        height: auto;
        line-height: 1;
        padding: 20px 0;
        width: 60vw;
        border: none;
        border-bottom: 2px solid $clr4;
        text-align: center;
      }
    }

    .toggle-menu-screen {
      display: block;
    }
    &.open .toggle-menu-screen {
      visibility: visible;
      opacity: 1;
    }

    .toggle-menu-btn {
      display: block;
      margin-inline-end: 20px;
    }
  }
}
