.weather-search {
  margin: 0 auto;

  input {
    width: 100%;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    font-family: "roboto", sans-serif;
    color: $clr1;
    &.active-options {
      border-bottom-left-radius: 0rem;
      border-bottom-right-radius: 0rem;
    }
  }

  @include from-mobile-layout {
    width: 80%;
  }

  @include from-narrow-layout {
    width: 60%;
  }

  @include from-normal-layout {
    width: 40%;
  }

  @include from-wide-layout {
    width: 30%;
  }
}
