/* Breakpoint mixins */
@mixin for-narrow-layout {
  @media (max-width: $narrow-breakpoint) {
    @content;
  }
}

@mixin from-mobile-layout {
  @media (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin from-narrow-layout {
  @media (min-width: $narrow-breakpoint) {
    @content;
  }
}

@mixin from-normal-layout {
  @media (min-width: $normal-breakpoint) {
    @content;
  }
}

@mixin from-wide-layout {
  @media (min-width: $wide-breakpoint) {
    @content;
  }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}
