// Colors
$clr1: #1e2328;
$clr2: #2a2e34;
$clr3: #3b3f46;
$clr4: #F5A302;
$clr5: #F5b301;
$clr6: #FED053;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 760px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1260px;
